<table *ngIf="( appstate$ | async)?.daily?.length" style="width: 100%;">
    <tr>
        <th>City Name</th>
        <ng-template ngFor [ngForOf]="( appstate$ | async)?.daily" let-day let-i="index">
            <th>{{dtToCleanDate(day.dt)}} (&#8451;)</th>
        </ng-template>
    </tr>
    <tr>
        <td>{{( appstate$ | async)?.city}}</td>
        <ng-template ngFor [ngForOf]="( appstate$ | async)?.daily" let-day let-i="index">
            <td>{{day.temp.day}} &deg;</td>
        </ng-template>
    </tr>
</table>
<h2 *ngIf="!( appstate$ | async)?.infoFound">No Weather Info Found!</h2>