<table *ngIf="( appstate$ | async)?.hourly?.length" style="width: 100%;">
    <tr>
        <th>City Name</th>
        <ng-template ngFor [ngForOf]="( appstate$ | async)?.hourly" let-hour let-i="index">
            <th>{{dtToCleanTime(hour.dt)}} (&#8451;)</th>
        </ng-template>
    </tr>
    <tr>
        <td>{{( appstate$ | async)?.city}}</td>
        <ng-template ngFor [ngForOf]="( appstate$ | async)?.hourly" let-hour let-i="index">
            <td>{{hour.feels_like}} &deg;</td>
        </ng-template>
    </tr>
</table>
<h2 *ngIf="!( appstate$ | async)?.infoFound">No Weather Info Found!</h2>